<div class="container col-5 mx-auto mt-5">
  <h2 class="mb-5">会員情報編集</h2>
  <div class="row">
    <div>
     <%= form_with model:@customer, local:true do |f| %>
      <table>
          <tr>
            <td>氏名</td>
            <td align="right"></td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control' %></td>
            <td class="pl-3" align="right"></td>
            <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control' %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td align="right" class="pt-3"></td>
            <td class="pt-3"><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: 'form-control' %></td>
            <td class="pl-3 pt-3"></td>
            <td class="pt-3"><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: 'form-control' %></td>
          </tr>
          <tr>
            <td colspan="2" class="pt-4"><%= f.label :郵便番号 %></td>
            <td class="pt-3"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'form-control' %></td>
          </tr>
          <tr>
            <td colspan="2" class="pt-3"><%= f.label :住所 %></td>
            <td colspan="3" class="pt-3"><%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'form-control' %></td>
          </tr>
          <tr>
            <td colspan="2" class="pt-3"><%= f.label :電話番号 %></td>
            <td class="pt-3"><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: 'form-control' %></td>
          </tr>
          <tr>
            <td colspan="2" class="pt-3"><%= f.label :メールアドレス %></td>
            <td class="pt-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></td>
          </tr>
          <tr>
            <td align="center" colspan="3" class="pt-4"><%= f.submit "編集内容を保存", class: 'btn btn-success w-30' %></td>
            <td align="center" colspan="3" class="pt-4"><%= link_to '退会する', customers_quit_confirm_path, class: 'btn btn-danger w-30' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
