<div class='container mx-auto mt-5'>
  <div class="row">
    <h3 class="mb-5">商品詳細</h3>
  </div>
  <div class='row mx-auto'>
    <div class="col-4">
      <%= image_tag @item.get_image(350,350) %>
    </div>
    <div class="col-8 mb-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="font-weight-bold">商品名</td>
            <td class="h5"><%= @item.name %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">商品説明</td>
            <td class="h5"><%= @item.introduction %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">ジャンル</td>
            <td class="h5"><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">税込価格(税抜価格)</td>
            <td class="h5">
              <%= @item.add_tax_price %>(<%= @item.price %>)　円
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">販売ステータス</td>
            <% if @item.is_active == true %>
              <td class="text-success font-weight-bold h5">販売中</td>
            <% else %>
              <td class="text-secondary font-weight-bold h5">販売停止中</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to "編集する", edit_admin_item_path(@item), class: ' mx-auto btn btn-success btn-lg' %>
  </div>
</div>