<table class="table">
  <tr width="100%" bgcolor="#816F5B" class="text-light">
    <th width="30%">商品名</th>
    <th width="20%">単価(税込)</th>
    <th width="10%">数量</th>
    <th width="10%">小計</th>
    <th width="30%">制作ステータス</th>
  </tr>
  <% order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td>￥<%= order_detail.price.to_s(:delimited) %></td>
      <td><%= order_detail.amount.to_s(:delimited) %></td>
      <td>￥<%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
      <td>
        <div class="text-danger">
          <%= OrderDetail.making_statuses_i18n[order_detail.making_status] %>
        </div>
        <%= form_with model: order_detail, url: admin_order_order_detail_path(order_detail.order, order_detail), method: :patch, local: false do |f| %>
          <%= f.select :making_status, OrderDetail.making_statuses.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
          <%= f.submit "更新", class: "btn btn-sm" ,style: "background-color: #816F5B; color: #fff;" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>