<div class="container">
  <h2 class="mt-5 mb-5 ml-5"><%= @heading %></h2>
  <table class="table table-bordered">
    <tr width="100%" bgcolor="#816F5B" class="text-light">
      <th width="30%"><strong>購入日時</strong></th>
      <th width="20%"><strong>購入者</strong></th>
      <th width="20%"><strong>注文個数</strong></th>
      <th width="30%">
        <strong>注文ステータス</strong>
        <%= form_with url: admin_path, method: :get, local: true do |f| %>
          <%= f.select :status, Order.statuses.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit "検索", class: "btn btn-outline-light" %>
        <% end %>
      </th>
    </tr>
    <%  @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
        <td><%= order.customer.name_display %></td>
        <td><%= order.total_amount.to_s(:delimited) %></td>
        <td><%= Order.statuses_i18n[order.status] %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @orders %>
</div>