<div class="container">
  <h3 class="ml-5"><%= @customer + "注文履歴一覧" %></h3>
  <table class="table table-bordered">
    <tr width="100%" bgcolor="#c0c0c0">
      <th width="30%"><strong>購入日時</strong></td>
      <% if @customer == "" %>
        <th width="20%"><strong>購入者</strong></td>
      <% end %>
      <th width="20%"><strong>注文個数</strong></td>
      <th width="30%"><strong>注文ステータス</strong></td>
    </tr>
    <%  @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
        <% if @customer == "" %>
          <td><%= order.customer.last_name + order.customer.first_name %></td>
        <% end %>
        <td><%= order.total_amount.to_s(:delimited) %></td>
        <td><%= Order.statuses_i18n[order.status] %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @orders %>
</div>