<div class='container mt-5'>
  <h2 class="mb-5">ジャンル編集</h2>
  <%= render 'layouts/errors', obj: @genre %>
  <div class='row'>
    <div class="col-12 px-5 px-sm-0">
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local: true do |f| %>
        <table>
          <tr>
            <td><%= f.label :name, "ジャンル名", class: "mr-5" %></td>
            <td><%= f.text_field :name, placeholder: "ジャンル名", class: "mr-5" %></td>
            <td><%= f.submit "変更を保存",class: "btn btn-lg",style: "background-color: #816F5B; color: #fff;" %></td>
          </tr>
        </table>
      <% end %>
  	</div>
  </div>
</div>
