<div class='container mx-auto mt-5'>
  <div class="row">
    <h2 class="mb-5">ジャンル一覧・追加</h2>
  </div>

  <div id="error">
    <%= render 'layouts/errors', obj: @genre %>
  </div>

  <div class='row mb-5'>
    <div class="col-12 px-8 px-sm-0">
      <%= form_with model: @genre, url: admin_genres_path, method: :post, local: false do |f| %>
        <table>
          <tr>
            <td><%= f.label :name, "ジャンル名", class: "mr-5" %></td>
            <td><%= f.text_field :name, placeholder: "ジャンル名", class: "mr-5", class: "form-control" %></td>
            <td><%= f.submit "新規登録",class: "btn btn-lg",style: "background-color: #816F5B; color: #fff;" %></td>
          </tr>
        </table>
      <% end %>
  	</div>
  </div>

  <div class="row" id="genres">
    <%= render 'index', genres: @genres %>
  </div>
</div>

