<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#3C240A	">
  <div class="container">
    <a class="navbar-brand" href="/"><span><%= image_tag 'nagano_cake_logo.png',size:'150x100' %></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li class="mt-2 mr-5" style="color: #FFFFFF;">
            ようこそ、<br>
            <%= current_customer.last_name %>さん！
          </li>
          <li>
            <%= link_to customers_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-circle-user"></i> マイページ
            <% end %>
          </li>
          <li>
            <%=  link_to items_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-cake-candles"></i> 商品一覧
            <% end %>
          </li>
          <li id="header_cart">
            <%= render 'layouts/header_cart' %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to admin_items_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-cake-candles"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-users"></i> 会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-file-circle-exclamation"></i> 注文履歴一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path ,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-tags"></i> ジャンル一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path ,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-circle-question"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to items_path ,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-cake-candles"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path ,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
             <i class="fa-solid fa-right-to-bracket"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_search_form', search_item: @search_item %>
      <% else %>
        <%= render 'layouts/customer_search_form', search_item: @search_item %>
      <% end %>
    </div>
  </div>
</nav>